.container {
    display: grid;
    grid-template-rows: auto auto; /* H1 in first row, buttons in second */
    gap: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 150px;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 15px; /* Space between buttons */
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: rgb(147, 147, 147);
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

button:hover {
    background-color: rgb(255, 247, 0);
}